.unit-container {
    border-bottom: 1px solid black;
    text-align: left;
}

.object {
    display: grid;
    grid-template-columns: 80% 10% 10%;
    align-items: center;
    margin: 1%;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}

@media (max-width: 800px) {
    .object {
        display: grid;
        grid-template-columns: 80% 10% 10%;
        align-items: center;
        margin: 1%;
        font-weight: bold;
        font-size: 18px;
        position: relative;
    }
}

.hover-card {
    border-radius: 25px;
    position: absolute;
    left: 101.5%;
    height: 40vh;
    max-width: auto;
    z-index: 9999;
}

@media (max-width: 800px) {
    .hover-card {
        left: 6%;
        height: 55vh;
    }
}

.hover-item-card {
    border-radius: 25px;
    position: absolute;
    left: 101.5%;
    height: 25vh;
    max-width: auto;
    z-index: 9999;
}

@media (max-width: 800px) {
    .hover-item-card {
        left: 7%;
        height: 25vh;
    }
}