.caps-bar {
    display: flex;
    font-weight: bold;
    justify-content: center;
    font-size: 32px;
    background-color: gray;
    height: 3rem;
    border-bottom: 1px solid black;
    align-items: center;
}

@media (max-width: 800px) {
    .caps-bar {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        font-weight: bold;
        justify-content: center;
        font-size: 20px;
        background-color: gray;
        height: 3rem;
        border-bottom: 1px solid black;
        align-items: center;
        padding: 0.5%;
    }
}

.bar-item {
    margin: 1px;
    grid-column: 1 / 4;
}

.mobile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
    border: none;
}

.delete {
    background-color: none;
    margin-left: auto;
}

.dummy {
    margin-right: auto;
    visibility: hidden;
}